@model List<BankAppER.Models.Customer>



<div class="card-body">
    <div class="card-header">
        <h4>Customer List</h4>
    </div>
    <table class="table table-bordered table-condensed text-center">
        <thead>
            <tr class="bg-secondary text-white">
                <th class="text-center">Id</th>
                <th class="text-center">Name</th>
                <th class="text-center">Accounts</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        @customer.Id
                    </td>
                    <td>
                        @customer.Name
                    </td>
                    <td>
                        <table class="table table-sm text-center">
                            <thead>
                                <tr class="bg-secondary text-white">
                                    <th class="text-center">Id</th>
                                    <th class="text-center">Total</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var account in customer.CustomerAccounts)
                                {
                                    <tr>
                                        <td>
                                            @account.Id
                                        </td>
                                        <td>
                                            @account.Balance
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
        </tbody>



    </table>
</div>